<header class="py-5 mb-5 bg-primary">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-2">
                <img class="mw-100" src="assets/angular.png" alt="angular">
            </div>
            <div class="col-lg-10">
              <h1 class="display-4 text-white mt-5 mb-2">Desenvolvimento SPA com angular</h1>
              <p class="lead mb-5 text-white"> Você está pronto para aprender muito sobre este fantástico framework SPA ?</p>
            </div>
        </div>
    </div>
  </header>

  <main>


    <div class="container main-container">
        <div class="row text-center">

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="assets/Angula.png" height="164px" width="253px" alt="Imagem de capa do card">
                        <div class="card-body">
                        <h4 class="card-tittle">Framework</h4>  
                        <p class="card-text">O Angular é um framework utilizado para a criação de Single-Page Applications (SPA), que é uma aplicação web consumida em uma única página.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Saiba mais</a>
                    </div>
                 </div>
            </div>


            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                     <img class="card-img-top" src="assets/Angula.png" height="164px" width="253px" alt="Imagem de capa do card">
                        <div class="card-body">
                            <h4 class="card-tittle">TypeScript</h4>  
                            <p class="card-text">Ao desenvolver uma aplicação Angular é preciso utilizar TypeScript, que é um superset de JavaScript, e que, ao ser compilada, devolve um arquivo em JavaScript.</p>
                        </div>
                        <div class="card-footer">
                        <a href="#" class="btn btn-primary">Saiba mais</a>
                    </div>
                 </div>
            </div>


            <div class="col-lg-3 md-6 mb-4">
                <div class="card h-100">
                <img class="card-img-top" src="assets/Angula.png" height="164px" width="253px" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h4 class="card-tittle">Objeto orientado</h4>  
                        <p class="card-text">O TypeScript facilita o desenvolvimento no padrão de Object Oriented Programming (OOP), ou seja, a programação orientada a objeto.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Saiba mais</a>
                    </div>
                 </div>
            </div>


            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                <img class="card-img-top" src="assets/Angula.png" height="164px" width="253px" alt="Imagem de capa do card">
                    <div class="card-body">
                        <h4 class="card-tittle">Router</h4>  
                        <p class="card-text">Um dos principais componentes do Angular é o Router. Trata-se de uma biblioteca necessária para permitir a navegação em uma aplicação sem a necessidade de recarregar a página.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Saiba mais</a>
                    </div>
                 </div>
            </div>


        </div>
    </div>
  </main>